menu "Agro Mesh Configuration"
	config MESH_ROUTER_SSID
        string "Router SSID"
        default "ROUTER_SSID"
        help
            Router SSID.

    config MESH_ROUTER_PASSWD
        string "Router password"
        default "ROUTER_PASSWD"
        help
            Router password.

    choice
        bool "AP Authentication Mode"
        default WIFI_AUTH_WPA2_PSK
        help
            Authentication mode.

        config WIFI_AUTH_OPEN
            bool "WIFI_AUTH_OPEN"
        config WIFI_AUTH_WPA_PSK
            bool "WIFI_AUTH_WPA_PSK"
        config WIFI_AUTH_WPA2_PSK
            bool "WIFI_AUTH_WPA2_PSK"
        config WIFI_AUTH_WPA_WPA2_PSK
            bool "WIFI_AUTH_WPA_WPA2_PSK"
    endchoice

    config AP_AUTHMODE
        int
        default 0 if WIFI_AUTH_OPEN
        default 2 if WIFI_AUTH_WPA_PSK
        default 3 if WIFI_AUTH_WPA2_PSK
        default 4 if WIFI_AUTH_WPA_WPA2_PSK
        help
            AP authentication mode.
            
    choice
        bool "Server endpoint type"
        default ENDPOINT_IPv4
        help
            Choose endpoint type.

        config ENDPOINT_IPv4
            bool "IPv4"
        config ENDPOINT_IPv6
            bool "IPv6"
    endchoice

    config ENDPOINT_TYPE
        int
        default 0 if ENDPOINT_IPv4
        default 1 if ENDPOINT_IPv6
        help
            Choose endpoint type.
            
	config SERVER_ADDR
		string "Server Address"
		default "192.168.0.9"
		help
			IP address of the server that will receive data. It must be a valid
			IP addr (valid IPv4 or IPv6 as set at Endpoint type option)
            
    config SERVER_PORT
    	int "Server Port"
    	range 1 65535
    	default 5683
    	help
            Server port that the device will connect.
            
    config ROOT_SERVER_PORT
    	int "Root Server Port"
    	range 1 65535
    	default 5683
    	help
            Port that the root node UDP connection will bind.
    
    choice
    	bool "Packet size (header + payload)"
    	default PACKET_SIZE_576
    	help
    		Max packet size supported by a CoAP transaction, considering 
    		header + options + payload.
    	
    	config PACKET_SIZE_128
            bool "128bytes = 64h + 64p"
        config PACKET_SIZE_320
            bool "318bytes = 64h + 256p"
        config PACKET_SIZE_576
            bool "576bytes = 64h + 512p"
        config PACKET_SIZE_1088
            bool "1088bytes = 64h + 1024p"
    endchoice
    		
    config BUFFER_TRANSACTION
    	int
        default 128 if PACKET_SIZE_128
        default 320 if PACKET_SIZE_320
        default 576 if PACKET_SIZE_576
        default 1088 if PACKET_SIZE_1088
        help
    		Max packet size supported by a CoAP transaction, considering 
    		header + options + payload.
    		
    config TRANSACTION_NUM
    	int "Number of transactions"
    	range 1 50
    	default 4
    	help
    		Number of simultaneous transactions that CoAP engine can hold
    		
    config ENABLE_HEARTBEAT_TASK
        bool "Enable Heartbeat Task"
        default 0
        help
            Enable heartbeat task (blink).
endmenu

